<%= form_for(@product_type) do |f| %>
  <% if @product_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>

      <ul>
      <% @product_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>한글 제품타입 이름</h4>
    <%= f.text_field :name_ko, class: "text_field" %>
  </div>
  <div class="field">
    <h4>영문 제품타입 이름</h4>
    <%= f.text_field :name_en, class: "text_field" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
