<p id="notice"><%= notice %></p>

<h1><%= t(".title") %></h1>

<div class="products_browser_container">
  <div class="product_types_index">
    <% @product_types.each do |product_type| %>
      <div class="product_types_list">
        <%= link_to product_type, class: "product_types_items items-buttons" ,remote: true do %>
          <div class="product_type_name">
            <%= product_type.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="brands_products_container" id="brands_products_container">
    <div class="brands_index">
      <% @brands.each do |brand| %>
        <div class="brands_list">
          <%= link_to brand_path(brand), class: "brands_items items-buttons" ,remote: true do %>
            <div class="brand_name_and_logo">
              <% brand.photos.each do |photo| %>
                <%= image_tag photo.pics.url(:logo) %>
              <% end %>
              <%= brand.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="products_container" id="products_container">
      <ul class="accordion" data-accordion id="product_accordion" data-allow-all-closed="true">
        <% @products.each.with_index do |product, index| %>
          <% if index == 0 %>
            <li class="accordion-item is-active" data-accordion-item>
          <% else %>
            <li class="accordion-item" data-accordion-item>
          <% end %>
            <a class="accordion-title products_items items-buttons"><%= product.name %></a>
            <div class="accordion-content" data-tab-content>
                <p>
                <strong><%= product.name %></strong><br>
                Heritage: <%= raw product.heritage_list.map {|h| link_to h, heritage_path(h) }.join(", ") %> <br>
                <%= link_to "Full SCREEN MODE", product.attachment.url, :target => "_blank" %>
                </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

