<%= nested_form_for(@article) do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "에러들") %> 때문에 저장하지 못했습니다:</h2>
          <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div>
        <%= f.label :title, "제목" %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :photos, "부수 사진 (사진 추가시 등록후 사이즈 조정 페이지로 넘어감.)" %>
        <%= f.fields_for :photos do |pf| %>
            <%= pf.file_field :pics %>
            <%= pf.link_to_remove "삭제하기" %>
        <% end %>
        <%= f.link_to_add "추가하기", :photos %>

    </div>
    <div>
        <label for="body">내용</label>
        <%= f.text_area :body, id: "newsBody" %>
    </div>
    <div>
        <%= f.submit "등록하기" %>
    </div>
<% end %>