<h2 class="page-title"><%= title t(".title") %></h2>
<div class="content-container articles">
  <% if admin_signed_in? %>
    <div><%= link_to "뉴스 추가하기", new_article_path %></div>
  <% end %>
  <table class="articles-index">
    <thead>
      <tr>
        <th class="articles-th-title"><%= t('.tableTitle') %></th>
        <th class="articles-th-date"><%= t('.tableDate') %></th>
        <% if admin_signed_in? %>
          <th>수정?</th>
          <th>삭제?</th>
        <% end %>
      <tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td class="articles-td-title"><%= link_to article.title.titleize, article_path(article) %></td>
          <td class="articles-td-date"><%= article.updated_at.strftime("%Y-%m-%d") %></td>
          <% if admin_signed_in? %>
          <td><%= link_to "수정하기", edit_article_path(article) %></td>
          <td><%= link_to "삭제하기", article_path(article), method: :DELETE, data:{confirm: "정말 삭제하시겠습니까?"}%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>