<div class="cropping_container">
  <% @crop_obj.photos.each.with_index do |photo, index| %>
    <fieldset class="image_fieldset" id="image_number_<%= index + 1 %>">
      <h4><%= (index + 1).ordinalize %> 이미지</h4>
      <div class="cropping_area">
        <%= image_tag photo.pics.url(:raw), id: "cropping_image_#{index}", class: "cropping_image" %>
      </div>
      <div class="cropping_values">
        <%= form_for photo, remote: true do |f| %>
          <% %w[x y w h].each do |coord| %>
            <%= f.text_field "crop_#{coord}", class: "val_input", readonly: true %>
          <% end %>
          <% if @crop_obj.photos.count == 1 %>
            <%= f.submit "적용", class: "coords_submit" %>
            <%= link_to("완료", @crop_obj) %>
          <% elsif index + 1 == @crop_obj.photos.count %>
            <div class="nav_button" type="prev">이전 이미지로</div>
            <%= f.submit "적용", class: "coords_submit" %>
            <%= link_to("완료", @crop_obj) %>
          <% elsif index == 0 %>
            <%= f.submit "적용 후 다음 이미지로", class: "coords_submit nav_button", type: "next" %>
          <% else %>
            <div class="nav_button" type="prev">이전 이미지로</div>
            <%= f.submit "적용 후 다음 이미지로", class: "coords_submit nav_button", type: "next" %>
          <% end %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</div>

<script>
$(document).on("turbolinks:load", function(){
  crop_images(<%= @crop_obj.photos.count - 1 %>, <%= @crop_ratio %>);
});
</script>