<h1></h1>
<%= link_to "인덱스로 가기", customers_path %>
<% if admin_signed_in? %>
  |  <%= link_to "수정", edit_customer_path(@customer) %>
  |  <%= link_to "삭제", customer_path(@customer), method: :DELETE, data:{confirm: "선택하신 항목으 지우시겠습니까?"} %>
<% end %>
<div class="customer-index-container">
  <div class="customer-box">
    <div class="customer-logo">
      <% @customer.photos.each do |photo| %>
        <%= image_tag photo.pics.url(:logo) %>
      <% end %>
    </div>
    <div class="customer-name">
      <%= @customer.name %>
    </div>
  </div>
</div>