<h2 class="page-title"><%= title t(".title") %></h2>
<div class="12-large columns downloads_page">
  <%= form_tag downloads_search_path, method: :get, class: "downloads_search_form", remote: true do %>
    <%= text_field_tag :query, params[:query], class: "downloads_search_input" %>
    <button class="downloads_search_submit">
      <span class="icomoon" data-icon="&#xeb36;"></span>
    </button>
  <% end %>
  <table class="attachments-table">
    <thead>
      <tr>
        <th class="attachments-file-name">File Name</th>
        <th class="attachments-actions">Open In New Tab</th>
        <th class="attachments-actions">Download</th>
      </tr>
    </thead>
    <%= render '/shared/attachments_body.html.erb' %>
  </table>
  <div id="paginator">
    <%= paginate @attachments, remote: true %>
  </div>
</div>