<div class="orbit orbit-area homepage" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container contents">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <% @articles.each.with_index do |article, index| %>
      <% if index == 0 %>
      <li class="orbit-slide is-active">
      <% else %>
      <li class="orbit-slide">
      <% end %>
        <%= image_tag article.photos.first.pics.url(:large), class: "orbit-image" %>
        <div class="orbit-caption"><%= link_to article.title.titleize, article_path(article) %></div>
      </li>
    <% end %>
  </ul>
  <nav class="orbit-bullets">
  <% @articles.each.with_index do |article, index| %>
    <% if index == 0 %>
    <button class="is-active" data-slide="<%= index %>"><span class="show-for-sr"><%= article.title %></span></button>
    <% else %>
    <button data-slide="<%= index %>"><span class="show-for-sr"><%= article.title %></span></button>
    <% end %>
  <% end %>
  </nav>
</div><!--orbit-->
<div class="info_area homepage">
  <div class="large-6 medium-12 columns homepage" style="border: 1px solid black; height:200px; margin: 30px 0; padding: 0 10px;">
    column 1
  </div>
  <div class="large-3 medium-6 columns homepage" style="border: 1px solid black; height:200px; margin: 30px 0; padding: 0 10px;">
    column 2
  </div>
  <div class="large-3 medium-6 columns homepage" style="border: 1px solid black; height:200px; margin: 30px 0; padding: 0 10px;">
    column 3
  </div>
</div>