<div class="orbit orbit-area homepage" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container contents">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <% @articles.each.with_index do |article, index| %>
      <% if index == 0 %>
      <li class="orbit-slide is-active">
      <% else %>
      <li class="orbit-slide">
      <% end %>
        <%= image_tag article.photos.first.pics.url(:large), class: "orbit-image" %>
        <div class="orbit-caption"><%= link_to article.title.titleize, article_path(article) %></div>
      </li>
    <% end %>
  </ul>
  <nav class="orbit-bullets">
  <% @articles.each.with_index do |article, index| %>
    <% if index == 0 %>
    <button class="is-active" data-slide="<%= index %>"><span class="show-for-sr"><%= article.title %></span></button>
    <% else %>
    <button data-slide="<%= index %>"><span class="show-for-sr"><%= article.title %></span></button>
    <% end %>
  <% end %>
  </nav>
</div><!--orbit-->
<div class="hide-for-large">
  <div class="medium-6 columns" style="height: 5rem;background-color: yellow;">

  </div>
  <div class="medium-6 columns" style="height: 5rem;background-color: yellow;">

  </div>
  <!-- <div class="12-large columns">
    <h3><%# t('.mobileWelcomeHeader') %></h3>
    <h5><%# t('.mobileWelcomeMessage') %></h5>
  </div> -->
</div>
<div class="marquee-area">
  <div class="marquee" id="marquee">
    <% @products.each do |product| %>
      <%= link_to pb_pt_path(product.product_type), class: "marquee-links" do %>
        <%= image_tag product.photos.first.pics.url(:logo), class: "marquee-photos" %>
        <div class="marquee-name-area">
          <span class="marquee-name">
            <%= product.name %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!--[if lte IE 9]>
<script>
var readyHome;
readyHome = function(){
  $("#marquee").animate({"left":"-18720px"}, 200000);
};
$(document).on('page:load ready turbolinks:load', readyHome);
$(document).delegate('#marquee', 'mouseenter', function(){
  $(this).stop();
});
$(document).delegate('#marquee','mouseleave', readyHome);
</script>
<style>
.marquee-area { position: relative !important;}
.marquee {
  position: absolute !important;
  top: 0 !important;
  left: 0;
}
</style>
<![endif]-->