<% unless request.path.include?('/en') %>
  <h2 class="page-title"><%= @query %> <%= t(".title") %></h2>
<% else %>
  <h2 class="page-title"><%= t(".title") %> <%= @query %></h2>
<% end %>
<div class="12-large columns search_results_area">
  <% if @brands.present? %>
    <div class="search_result brands">
      <h4 class="search_category">Brands</h4>
      <% @brands.each do |brand| %>
        <p><%= link_to brand.name, pb_pt_path(brand.product_types.first) %></p>
      <% end %>
    </div>
  <% end %>
  <% if @product_types.present? %>
    <div class="search_result product_types">
      <h4 class="search_category">Product Categories</h4>
      <% @product_types.each do |product_type| %>
        <p><%= link_to product_type.name, pb_pt_path(product_type) %></p>
      <% end %>
    </div>
  <% end %>
  <% if @products.present? %>
    <div class="search_result products">
      <h4 class="search_category">Products</h4>
      <% @products.each do |product| %>
        <p><%= link_to product.name, pb_pt_path(product.product_type) %></p>
      <% end %>
    </div>
  <% end %>
  <% if @attachments.present? %>
    <div class="search_result attachments">
      <h4 class="search_category">Attachments</h4>
      <table class="attachments-table">
        <thead>
          <tr>
            <th class="attachments-file-name">File Name</th>
            <th class="attachments-actions">Open In New Tab</th>
            <th class="attachments-actions">Download</th>
          </tr>
        </thead>
        <%= render '/shared/attachments_body.html.erb' %>
      </table>
    </div>
  <% end %>
  <% if @articles.present? %>
    <div class="search_result articles">
      <h4 class="search_category">Articles</h4>
      <% @articles.each do |article| %>
        <p><%= link_to article.title, article_path(article) %></p>
      <% end %>
    </div>
  <% end %>
</div>