<%= render 'browser_title_link' %>
<div class="browser_container">
  <div class="tab_container">
    <%= render 'product_types_tab' %>
    <%= render 'brands_tab' %>
  </div>
  <div class="index_container brands">
    <div class="brand_name">
      <%= @brand.name %>
    </div>
    <% @brand.photos.each do |photo| %>
      <div class="brand_logo">
        <%= image_tag photo.pics.url(:logo) %>
      </div>
    <% end %>
    <div class="brand_summary">
      <%= @brand.summary %>
    </div>
    <div class="brand_attachments">
      <% @brand.attachments.each do |attachment| %>
        <%= link_to File.basename(attachment.path), attachment.url , target: "_blank" %><br>
      <% end %>
    </div>
    <div class="brand_url">
      <%= link_to @brand.url, @brand.url, target: '_blank'%>
    </div>
  </div>
</div>