<%= render 'browser_title_link' %>
<div class="browser_container">
  <div class="tab_container">
    <%= render 'product_types_tab' %>
    <%= render 'brands_tab' %>
  </div>
  <div class="index_container brands">
    <% @brand.photos.each do |photo| %>
      <%= image_tag photo.pics.url(:logo) %>
    <% end %>
    <p>
      <%= @brand.summary %>
      <br>
      <% @brand.attachments.each do |attachment| %>
        <%= link_to File.basename(attachment.path), attachment.url , target: "_blank" %><br>
      <% end %>
    </p>
  </div>
</div>