<h2 class="product_browser_title"><%= link_to t('.title'), pb_path %></h2>
<div class="browser_container">
  <div class="index_container browser">
    <accordion class="brands_index">
      <% @brands.each.with_index do |brand, index| %>
        <section class="brand_items" id="<%= index %>">
          <div class="brand_logo_and_name">
            <a>
              <div class="brand_logo">
                <% brand.photos.each do |photo| %>
                  <%= image_tag photo.pics.url(:logo) %>
                <% end %>
              </div>
              <i class="fa fa-chevron-down hide-for-large drop_sign" aria-hidden="true"></i>
            </a>
          </div>
          <%= image_tag brand.background_pic.url(:raw), class: 'background_pics' %>
          <div class="product_types_list_area">
            <ul class="product_type_list">
              <% brand.product_types.each do |product_type| %>
                <li class="product_type_items"><%= link_to product_type.name, pb_pt_path(product_type) %></li>
              <% end %>
            </ul>
          </div>
        </section>
      <% end%>
    </accordion>
  </div>
</div>
