<h2 class="product_browser_title"><%= link_to t('.title'), pb_path %></h2>
<div class="browser_container">
  <div class="index_container browser">
    <accordion class="brands_index">
      <% @brands.each.with_index do |brand, index| %>
        <section class="brand_items" id="<%= index %>">
          <div class="brand_logo_and_name">
            <%= link_to pb_pt_path(brand.product_types.first) do  %>
              <div class="brand_logo">
                <% brand.photos.each do |photo| %>
                  <%= image_tag photo.pics.url(:logo) %>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= image_tag brand.background_pic.url(:raw), class: 'background_pics' %>
          <div class="product_types_list_area">
            <ul class="product_type_list">
              <% brand.product_types.each do |product_type| %>
                <li class="product_type_items"><%= link_to product_type.name, pb_pt_path(product_type) %></li>
              <% end %>
            </ul>
          </div>
        </section>
      <% end%>
    </accordion>
  </div>
</div>
<script>
  $(document).on('mouseenter', '.brand_items', function(){
    var target = $(this),
        not_target = $('.brand_items').not(target);
      target.addClass('open-horizontal');
      not_target.addClass('close-horizontal');
  });
  $(document).on('mouseleave', '.brand_items', function(){
    var target = $(this),
        not_target = $('.brand_items').not(target);
      target.removeClass('open-horizontal');
      not_target.removeClass('close-horizontal');
  });
</script>