<p class="product_browser_navigation">
  <% @brands.each do |brand| %>
    <%= link_to brand.name, pb_pt_path(brand.product_types.first) %>
  <% end %>
</p>
<h4 class="brand_name_title">
  <%= @brand.name %>
  <% @brand.photos.each do |photo| %>
    <%= image_tag photo.pics.url(:logo) %>
  <% end %>
</h4>
<div class="tab_menu">
  <ul class="product_type_list">
    <% @brand.product_types.each do |product_type| %>
      <li class="product_type_items"><%= link_to product_type.name, pb_pt_path(product_type) %></li>
    <% end %>
  </ul>
</div>
<div class="products_index">
  <% @product_type.products.each do |product| %>
    <fieldset>
      <h5><%= product.name %></h5>
      <p><%= link_to 'visit website', product.url, target: '_blank' %></p>
    </fieldset>
  <% end %>
</div>