<ul class="navWIPages">
  <% @brands.each do |brand| %>
    <li><%= link_to_unless_current brand.name, pb_pt_path(brand.product_types.first) %></li>
  <% end %>
</ul>
<h3 class="brand_name_title">
  <%= @brand.name %>
</h3>
<div class="tab_menu">
  <ul class="product_type_list">
    <% @brand.product_types.each do |product_type| %>
      <li class="product_type_items"><%= link_to product_type.name, pb_pt_path(product_type) %></li>
    <% end %>
  </ul>
</div>
<div class="products_index">
  <h4><%= @product_type.name %></h4>
  <% @product_type.products.each do |product| %>
    <fieldset>
      <h5><%= product.name %></h5>
      <div class="product_image_area">
        <% if product.photos.present? %>
        <%= image_tag product.photos.first.pics.url(:logo), class: 'product_image' %>
        <% end %>
      </div>
      <div class="product_details">Product_Details</div>
      <p class="product_links"><%= link_to 'Learn more ->', product.url, target: '_blank' %></p>
    </fieldset>
  <% end %>
</div>