<%= render 'browser_title_link' %>
<div class="browser_container">
  <div class="tab_container product_types">
    <%= render 'product_types_tab' %>
  </div>
  <div class="index_container product_types">
    <div class="brands_index">
      <% @product_type.brands.each do |brand| %>
        <div class="brands_list">
          <%= link_to pb_b_path(brand), class: "brands_items items-buttons" do %>
            <div class="brand_name_and_logo">
              <% brand.photos.each do |photo| %>
                <%= image_tag photo.pics.url(:logo) %>
              <% end %>
              <%= brand.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>