<h2 class="page-title"><%= t(".title") %></h2>
<accordion class="markets_index">
    <section class="market_items">
        <h5 class="market_header"><%= t(".marketHeader1") %></h5>
        <div class="market_summary_area">
            <div class="market_summary">
                <%= t('.marketSummary1') %>
            </div>
        </div>
    </section>
    <section class="market_items">
        <h5 class="market_header"><%= t(".marketHeader2") %></h5>
        <div class="market_summary_area">
            <div class="market_summary">
                <%= t('.marketSummary2') %>
            </div>
        </div>
    </section>
    <section class="market_items">
        <h5 class="market_header"><%= t(".marketHeader3") %></h5>
        <div class="market_summary_area">
            <div class="market_summary">
                <%= t('.marketSummary3') %>
            </div>
        </div>
    </section>
    <section class="market_items">
        <h5 class="market_header"><%= t(".marketHeader4") %></h5>
        <div class="market_summary_area">
            <div class="market_summary">
                <%= t('.marketSummary4') %>
            </div>
        </div>
    </section>
</accordion>