<%= nested_form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: "text_field" %>
  </div>
  <div class="field">
    <%= f.label :photos, "부수 사진 (사진 추가시 등록후 사이즈 조정 페이지로 넘어감.)" %>
    <%= f.fields_for :photos do |pf| %>
      <%= pf.file_field :pics %>
      <%= pf.link_to_remove "삭제하기" %>
    <% end %>
    <%= f.link_to_add "추가하기", :photos %>
  </div>
  <div class="field">
    <%= f.collection_check_boxes :product_type_ids, @productTypeAll, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
