<%= nested_form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: "text_field" %>
  </div>
  <div class="field">
    <%= f.label :photos, "로고 사진 (사진 추가시 등록후 사이즈 조정 페이지로 넘어감.)" %>
    <%= f.fields_for :photos do |pf| %>
      <%= pf.file_field :pics, class: "photoInfo" %>
      <%= pf.link_to_remove "삭제하기", class: "photoButton button", type: "remove" %>
    <% end %>
    <%= f.link_to_add "추가하기", :photos, class: "photoButton button", type: "remove" %>
  </div>
  <div class="field">
    <p>사진의 높이(height) 와 폭(width)의 비율은 1.1 이여야 합니다<i>예)높이/폭 -> 1.1 </i></p>
    <%= f.label :background_pic,"바탕 사진" %>
    <%= f.file_field :background_pic %>
  </div>
  <div class="field">
    <%= f.label :summary_ko, "한글 설명" %>
    <%= f.text_area :summary_ko, class: "articleBody" %>
  </div>
  <div class="field">
    <%= f.label :summary_en, "영문 설명" %>
    <%= f.text_area :summary_en, class: "articleBody" %>
  </div>
  <div class="actions">
    <%= f.submit "등록하기", class: "button" %>
  </div>
<% end %>
