<p id="notice"><%= notice %></p>

<h1>Listing Brands</h1>
<% if admin_signed_in? %>
  <%= link_to "브랜드 추가", new_brand_path %>
<% end %>
<table>
  <thead>
    <tr>
      <th>이름</th>
      <th>로고</th>
      <th colspan="2">액션</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, brand %></td>
        <td>
          <% if brand.photos.present? %>
            유
          <% else %>
            무
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brand', new_brand_path %>
