<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "제품 명"%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :attachment, "제품 카탈로그 (pdf 파일)"%><br>
    <%= f.file_field :attachment %>
  </div>
  <div class="field">
    <%= f.label :brand_id, "해당 브랜드" %>
    <%= f.collection_select :brand_id, Brand.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
