<% if admin_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>

<div>
  <strong>Name:</strong>
  <%= @product.name %>
  <%= link_to "Full SCREEN MODE", @product.attachment.url, :target => "_blank" %>
</div>
<div>

  <iframe src="<%= @product.attachment %>" alt="<%= @product.attachment %>" style="width:600px; height: 450px"></iframe>
</div>
