<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SamTra International</title>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Webview fixed navbar  -->
    <div class="header" id="header">
      <nav class="top-bar show-for-large main"><!--Webview nav-->
        <div class="top-bar-title">
          <div class="top-bar-logo" id="top-bar-logo">
          <%= link_to root_path do %><%= image_tag("logo.png", :class => "logo-samtra") %><% end %>
          </div>
        </div>
        <div class="top-bar-left">
          <ul class="language menu" id="language-menu">
            <li><a href="#">English</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">한글</a></li>
          </ul>
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <%= link_to t(".about"), about_us_path %>
              <ul class="menu vertical" id="top-bar-dropdown-menu">
                <li><%= link_to t(".history"), history_path %></li>
                <li><%= link_to t(".ceoLetter"), ceo_letter_path %></li>
                <li><%= link_to t(".customers"), customers_path %></li>
                <li><%= link_to t(".contactUs"), new_contact_path %></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <%= link_to t(".markets.title"), allMarkets_path %>
              <ul class="menu vertical" id="top-bar-dropdown-menu">
                <li><%= link_to t(".markets.medical"), medical_path %></li>
                <li><%= link_to t(".markets.military"), military_path %></li>
                <li><%= link_to t(".markets.automotive"), automotive_path %></li>
                <li><%= link_to t(".markets.industrialMachinery"), industrialMachinery_path %></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <%= link_to t(".products.title"), allProducts_path %>
              <ul class="menu vertical" id="top-bar-dropdown-menu">
                <li><%= link_to t(".products.cables"), cables_path %></li>
                <li><%= link_to t(".products.connectors"), connectors_path %></li>
                <li><%= link_to t(".products.terminals"), terminals_path %></li>
                <li><%= link_to t(".products.mccs"), mccs_path %></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><%= link_to t(".articles"), articles_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to t(".locations"), locations_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to t(".careers"), careers_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to new_contact_path do %><%= t(".contact") %><% end %></li>
          </ul>
        </div><!--top bar menu-->
      </nav><!--nav bar web view-->
    </div>
    <div class="off-canvas-wrapper row main"><!-- Mobile nav off-canvas dropdown wrapper-->
      <div class="title-bar hide-for-large row" id="title-bar"><!--Mobile nav title bar-->
        <!--button-->
        <div class="title-bar-left small-3 columns">
          <a class="menu-icon" type="button" data-toggle="offCanvasLeft"></a>
        </div>
        <!--Sitename-->
        <div class="title-bar-logo small-6 small-centered">
          <%= link_to root_path do %>
            <%= image_tag("logo.png", :class => "logo-samtra") %>
          <% end %>
        </div>
      </div><!--Mobile nav title bar-->
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper><!--Mobile nav off canvas dropdown inner wrapper-->
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
          <ul class="vertical menu" data-accordion-menu>
            <li>
              <a><%= t(".about") %></a>
              <ul class="menu vertical nested">
                <li><%= link_to t(".aboutUs"), about_us_path %></i>
                <li><%= link_to t(".history"), history_path %></li>
                <li><%= link_to t(".ceoLetter"), ceo_letter_path %></li>
                <li><%= link_to t(".customers"), customers_path %></li>
              </ul>
            </li>
            <li>
              <a><%= t(".markets.title") %></a>
              <ul class="menu vertical nested">
                <li><%= link_to t(".markets.allMarkets"), allMarkets_path %><li>
                <li><%= link_to t(".markets.medical"), medical_path %></li>
                <li><%= link_to t(".markets.military"), military_path %></li>
                <li><%= link_to t(".markets.automotive"), automotive_path %></li>
                <li><%= link_to t(".markets.industrialMachinery"), industrialMachinery_path %></li>
              </ul>
            </li>
            <li>
              <a><%= t(".products.title") %></a>
              <ul class="menu vertical nested">
                <li><%= link_to t(".products.allProducts"), allProducts_path %></li>
                <li><%= link_to t(".products.cables"), cables_path %></li>
                <li><%= link_to t(".products.connectors"), connectors_path %></li>
                <li><%= link_to t(".products.terminals"), terminals_path %></li>
                <li><%= link_to t(".products.mccs"), mccs_path %></li>
              </ul>
            </li>
            <li><%= link_to t(".articles"), articles_path %></li>
            <li><%= link_to t(".locations"), locations_path %></li>
            <li><%= link_to t(".careers"), careers_path %></li>
            <li><%= link_to t(".contactUs"), new_contact_path %></li>
          </ul><!--vertical menu-->
        </div><!--off canvs position left-->
        <div class="off-canvas-content" data-off-canvas-content><!--below this line is the canvas area -->
          <div class="main" id="pageYield">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
        </div><!--off canvas content-->
      </div><!--canvas wrapper inner-->
        
    </div><!--canvas wrapper-->
    <footer id="footer">
      <div class="row main">
        <div class="copyright">
        Copyright &copy; SamTra International all rights reserved
        </div>
        <div class="misc menu">
          <ul>
            <% if admin_signed_in? %>
            <li><%= link_to "Admin", rails_admin_path %></li>
            <li><%= link_to "Log out", destroy_admin_session_path %></li>
            <% else %>
            <li><%= link_to "Employee login", new_admin_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
